<!DOCTYPE html>
<html>
  <head>
    <title>Optimizely Challenge</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
    <!-- <script type="text/javascript" src="javascript/ouibounce.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ouibounce/0.0.12/ouibounce.min.js"></script>
    <!-- <script type="text/javascript" src="javascript/ouibounce.js"></script> -->
    <!-- <script type="text/javascript" src="javascript/clock.js"></script> -->
    <script type="text/javascript" src="javascript/geoLoc.js"></script>
  </head>

  <body>
    <!-- Example page instructions -->
    <h1>Example page</h1>
   <!--  <script>
    $(document).ready(function(){
    
     $.getJSON("https://api.wunderground.com/api/c451ff398a91d3b1/forecast/conditions/q/autoip.json", function(data){
       console.log("Yahooo", data.current_observation.display_location.full);
      $(".modal-title").append("<h2><b>WAIT! SPECIAL OFFER FOR " +  "<span class='city'>" + data.current_observation.display_location.full + "</span>" + " RESIDENTS...</b></h2><h1><b>Claim your instant discount before the timer runs out!</b></h1>") 
    })
});
    </script> -->
    <!-- OuiBounce Modal -->
  <div>

    <div id="ouibounce-modal">

      <div class="underlay"></div>
      <div class="modal">
        <div class="modal-title">
        <img id="content" src="imges/redArrow.png">
        </div>

          <div class="clock" style="padding-left: 5.5em;"></div>

            <script type="text/javascript">
              var clock = $('.clock').FlipClock(3600, {
                countdown: true
              });
            </script>
        

        <div class="modal-footer">
          <button class="button-link"><span class="claim-discount"><b>CLAIM DISCOUNT</b></span></button>
        </div>
      </div>
    </div>
    <script>
      var _ouibounce = ouibounce(document.getElementById('ouibounce-modal'), {
        aggressive: true,
        timer: 0,
        callback: function() { console.log('ouibounce fired!'); }
      });

      $('body').on('click', function() {
        $('#ouibounce-modal').hide();
      });

      $('#ouibounce-modal .modal-footer').on('click', function() {
        $('#ouibounce-modal').hide();
      });

      $('#ouibounce-modal .modal').on('click', function(e) {
        e.stopPropagation();
      });
    </script>
  </div>  
  </body>
</html>
